<div id="gradient-2" class="row">
	<div style="padding-top:40px;padding-bottom:40px;" class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 top-section-1">
				<h1>Grow Your Audience<br /> <span class="top-text-inner">with a </span><span class="viral-waitlist">Viral Waiting List.</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= render partial: 'campaigns/form', locals: {campaign: @campaign, submitbutton: "Start your Campaign"}%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p style="margin:auto;width:60%;color:white;font-size:24px;line-height:32px;font-family:'Montserrat'; font-weight:600;"><span style="font-size:18px;">Offer users perks and incentives for joining and sharing your waitlist before you launch.</span></p>
				<div>
					<ul>
						<li>1) Create a campaign for a product/project you're working on.</li>
						<li>2) Add prizes/perks. Launch it. Share it.</li>
						<li>2) Build an Email List of Users before you even launch!!!!!!!!!!!!!!!!!!!!</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
