<div id="gradient-2" class="row">
	<div style="padding-top:40px;padding-bottom:40px;" class="container">
		<div class="col-md-6">
			<%= link_to image_tag('Viralwaitlist'), "#", class: "section-1-pic" %>
		</div>
		<div class="col-md-6">
			<div>
				<p style="margin:auto;width:60%;color:white;font-size:24px;line-height:32px;font-family:'Montserrat'; font-weight:600;">Build Your Audience with a Viral Waiting List. <br><span style="font-size:18px;">Offer users perks and incentives for joining and sharing your waitlist before you launch.</span></p>			
				<div>
					<ul>
						<li>1) Create a campaign for a product/project you're working on.</li>
						<li>2) Add prizes/perks. Launch it. Share it.</li>
						<li>2) Build an Email List of Users before you even launch!!!!!!!!!!!!!!!!!!!!</li>			
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>crepes.io</h1>
			<p>Build Your Audience</p>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-danger" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>	
		</div>
	</div>
</div>
