<h1>Subscribers#new</h1>
<p>Find me in app/views/subscribers/new.html.erb</p>
<div>
	<%= form_for(@subscriber) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :email %>
	<%= f.submit %>
	<% end %>
</div>