<div id="year-slider" class="no-ui-slider">
  <div class="slider"></div>
  <ul class="slider-labels eleven-columns" id="sliderthing">
    <li data-id="5">5 min.</li>
    <li data-id="30">30 min.</li>
    <li data-id="60" class="active">1 hr</li>
    <li data-id="360">6 hrs</li>
    <li data-id="720">12 hrs</li>
    <li data-id="1440">24 hrs</li>
  </ul>
</div>