<style>

body{
background:#171A3D !important;
}

</style>

<div class="row">
<div  class="col-md-12 outer-box"></div>
	<div class="col-md-6 col-md-offset-3 fancy-box">
		<%= render partial: 'campaigns/form', locals: {campaign: @campaign, submitbutton: "Create Campaign"}%>
	</div>
	<div class="col-md-12"></div>
</div>
