/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



@font-face {
  font-family: Brandon Grotesque;
  src: url(asset_path('fonts/Brandon_reg.otf') );
}
@font-face {
  font-family: Brandon Grotesque Light;
  src: url(asset_path('fonts/Brandon_light.otf'));
}


body{
background-color:#F2F4F5 !important;	
font-family:"Brandon Reg", "Brandon Lite", "Brandon Regular", "Brando Reg", "Brando Lite", "Montserrat" !important;
}


.btn-1, input[type=submit] {
background:#25CB68;
border-color:#25CB68;
border-style:solid;
padding:10px;
border-radius:4px;
border-width:1px;
color:white;
font-weight:900;
}

input[type=text]{
	border-radius:4px;
	margin-bottom:10px;

}

navbar-brand{
	color: rgba(0, 0, 0, 0);
	background: url('crepe.png') no-repeat;
	background-position: center;
}


#gradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #00041F, #2CB8B4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #00041F, #2CB8B4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00041F, #2CB8B4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00041F, #2CB8B4); /* Standard syntax */
}
#gradient-2 {
background:#263699;
 /* background: -webkit-linear-gradient(left top, #00041F, #6F3057);
  background: -o-linear-gradient(bottom right, #00041F, #6F3057);
  background: -moz-linear-gradient(bottom right, #00041F, #6F3057);
  background: linear-gradient(to bottom right, #00041F, #6F3057);*/
}

.alert, .notice, .nav, .navbar, .navbar-default{
margin-top:0;margin-bottom:0 !important;padding-bottom:0;padding-top:0;	
}



/* START PROGRESS BAR */

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

$bg: #f8f8f8;
$ltgrey: #ccc;
$grey: #DDDDDD;
$medgrey: #555;
$dkgrey: #888;
$black: #222;
$highlight: #ea463d;
@import url(http://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700);

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.clear {
  clear: both;
}

.progress_bar {
  max-width: 820px;
  width: 80%;
  margin: 115px auto 0;
  position: relative;
  height: 50px;
  z-index: 10;
  hr.all_steps {
    width: 80%;
    height: 7px;
    border: none;
    background: $grey;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 10px;
    left: 10%;
    z-index: 1;
  }
  hr.current_steps {
    width: 0%;
    border: 0;
    height: 5px;
    background: $highlight;
    position: absolute;
    bottom: 12px;
    left: 10%;
    z-index: 3;
  }
  div.step {
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: $ltgrey;
    position: relative;
    text-shadow: 1px 1px #fff;
    @include prefix(transition, all 0.3s ease-in);
    &:before {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      border: 2px solid transparent;
      background: $highlight;
      bottom: 14px;
      left: 50%;
      margin-left: -6px;
      content: '';
      z-index: 4;
      display: none;
    }
    &:after {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 20px;
      border: 2px solid $grey;
      background: $grey;
      bottom: 12px;
      left: 50%;
      margin-left: -8px;
      content: '';
      z-index: 2;
    }
    &.current {
      color: $black;
      &:before {
        display: block;
      }
    }
    &.complete {
      color: $dkgrey;
      cursor: pointer;
      &:before {
        display: block;
      }
      &:hover {
        color: $medgrey;
      }
    }
  }
}

#blocks {
  width: 100%;
  position: relative;
  height: 200px;
  .block {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 200px;
    .wrap {
      width: 80%;
      margin: 0 auto;
    }
  }
}


/* CSS BUTTON By http://codepen.io/daneden/pen/rcFJE*/

.butt {
  /* Additions */
  cursor: pointer;
  margin-right: 5px;
  /* End Additions */
  font-size: .825em;
  text-decoration: none;
  font-weight: 700;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
  border-radius: 3px;
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

.butt:hover,
.butt.hover {
  background-color: #fff;
}

.butt:active,
.butt.active {
  background-color: #d0d3d6;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2), inset 0 2px 5px rgba(0, 0, 0, .2), 0 1px rgba(255, 255, 255, .2);
}

/* END PROGRESS BAR */


.bttn-shadow-light {
    color: #626369 !important;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #DCDEDD;
}

.bttn-medium {
    padding: 1.8rem 3rem;
    font-size: 1.4rem;
}

.bttn {
    display: inline-block;
    border-radius: 2px;
    font-weight: 500;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    text-align: center;
    line-height: 1;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

#logo img{
	width:30px;
}

.header-img{
	top:-50px !important;
}
.header-img img {
	width:90px;
}

.section-1-pic img{
-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	width:500px;
	border-radius:4px !important;
}

.post-thumb{
  padding-right:5px;
}

.post-thumb img{
  width:20px;
  height:20px;
}


.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;

} 

.day-size {
  width:80px !important;
  height:80px;
  line-height:60px;
  font-size:40px;
}
.days-label{
  font-size:40px;
}

.fancy-box{
  background-color:#EEEEEE;
    border-style:solid;
    border-color:#C9D0E0;
    border-width:0.2em; 
    padding:5%;
    border-radius:4px;
}
.outer-box{
  margin-top:100px;
}



/* Chart Shit */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #eee;
}

.wrapper {
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

#canvas {
  display: block;
  margin: 0 auto;
}

/* End Chart Shit */


/* Start Crazy Slidey Shit */

$black: #000;
$white: #FFF;

$width: 790px;
$height: 180px;

body {
  background: #E8DFD9;
}

.squares {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxes {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: $width;
  height: $height;
  font-family: "Open Sans", sans-serif;
  transform: translate(-50%, -50%);
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: $white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 40px 0 65px rgba(#D4C5BA, 0.4);
  padding: 0 80px;
  box-sizing: border-box;
  opacity: 0;
  transform-origin: center;
  transform: scale(1.2, 1.2);
  
  &:nth-child(1),
  &:nth-child(2) {
    position: absolute;
  }
  
  &:nth-child(1) {
    left: 3%;
    width: 94%;
  }
  
  &:nth-child(2) {
    left: 2%;
    width: 96%;
  }
}

.progress {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #E8DFD8;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  
  &__fill {
    display: block;
    background: #BD8044;
    height: 100%;
  }
}

.point {
  position: relative;
  color: #AC9585;
  cursor: pointer;
  
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    
    .show-radius & {
      background: rgba(#000, 0.1);
    }
  }

  &--complete,
  &--active {
    color: #BA7C3F;
  }
}

.bullet {
  z-index: 1;
  position: relative;
  background: #AC9585;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: 0.3s ease;
  
  .point--complete &,
  .point--active & {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 6px #BD8044;
  }
  
  .point--active & {
    box-shadow: 0 2px 4px rgba(#000, 0.2),
                0 0 0 10px #BD8044;
  }
}

.label {
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 20px 0 0 0;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  transform: translate(-50%, 0);
}

.radius-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  background: $white;
  border: 0;
  border-radius: 4px;
  box-shadow: 40px 0 65px rgba(#D4C5BA, 0.4);
  padding: 10px;
  color: #BA7C3F;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* End That Shit */