<div class="post-container" style="text-decoration:none;list-style-type:none;">
	<div class="post-content"> 
		<p class="post-title" style="text-decoration:none;list-style-type:none;"><%= link_to image_tag('star.png'), "#", class: "post-thumb" %>Perk: <strong style="color:#25CB68;"><%= prize.title %></strong> Referrals Needed: <strong><%= prize.milestone %></strong></p>
		<br>
	</div>
</div>